<app-header></app-header>

<ion-content>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tournaments"></ion-back-button>
      </ion-buttons>
      <ion-title>
        {{ loadedTournament.title }} {{ loadedTournament.start_date }} - {{ loadedTournament.end_date }}
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <img src="{{loadedTournament?.imageUrl}}" alt="{ loadedTournament.title }}">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-toolbar>
    <ion-segment
      (ionChange)="segmentChanged($event)"
      [value]="selectedSegment"
      color="dark"
    >
      <ion-segment-button value="0">
        <ion-label>Info</ion-label>
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>Categories</ion-label>
        <ion-icon name="layers-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>Scores</ion-label>
        <ion-icon name="tennisball-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="3">
        <ion-label>Schedule</ion-label>
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="4">
        <ion-label>Photos</ion-label>
        <ion-icon name="images"></ion-icon>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
  <ion-slides #slides [options]="slideOptions" (ionSlideDidChange)="slideChanged()" scrollbar="true">
    <ion-slide>Info here</ion-slide>
    <ion-slide>Categories photos</ion-slide>
    <ion-slide>Scores music</ion-slide>
    <ion-slide>Schedule</ion-slide>
    <ion-slide>Photos</ion-slide>
  </ion-slides>
</ion-content>
