<ion-header *ngIf="!isDesktop">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title slot="start" class="ion-no-padding">
      <img src="./assets/logo.png" alt="logo" class="logo ion-text-left" />
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="isLoggedIn">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!isLoggedIn" color="primary" fill="outline">
        Login
      </ion-button>
      <ion-button *ngIf="!isLoggedIn" color="primary" fill="solid">
        Sign Up
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ng-content></ng-content>
</ion-header>

<ion-header *ngIf="isDesktop">
  <ion-toolbar>
    <ion-buttons slot="start">
       <img src="./assets/logo.png" alt="logo" class="logo ion-text-left" />
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button *ngIf="isLoggedIn">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!isLoggedIn" color="primary" fill="outline">
        Login
      </ion-button>
      <ion-button *ngIf="!isLoggedIn" color="primary" fill="solid">
        Sign Up
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ng-content></ng-content>
</ion-header>
