<app-header>
</app-header>

<ion-content>
  <ion-header class="ion-hide-lg-up">
    <ion-toolbar color="primary">
      <ion-title>Tournaments</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="ion-hide-lg-down">Tournaments</h1>
  <ion-list>
    <ion-item detail
      *ngFor="let tournament of tournaments"
      [routerLink]="['./', tournament.id]"
    >
      <ion-avatar slot="start">
        <ion-img [src]="tournament?.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label>
        {{ tournament.title }}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
