<app-header>
</app-header>

<ion-content>
  <ion-header class="ion-hide-lg-up">
    <ion-toolbar color="primary">
      <ion-title>Tournaments</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-tournament-list-view [tournaments]="activeTournaments" [tournamentHeader]="'Active Tournaments'" (tournamentClicked)="onTournamentClick($event)"></app-tournament-list-view>
  <hr>
  <app-tournament-list-view [tournaments]="upComingTournaments" [tournamentHeader]="'Upcoming Tournaments'" (tournamentClicked)="onTournamentClick($event)"></app-tournament-list-view>
</ion-content>
